[user]
    name = Fantas-LeoTao
    email = leotao19930820@gmail.com
[core]
    editor = /usr/local/bin/vim
[color]
    ui = auto
    diff = auto
[alias]
    ck = checkout
    br = branch
    cm = commit
    st = status
    df = diff
    rb = rebase
    ss = stash
